<div class="container">
  <div class="row">
    <h1>Stupid Coaching</h1>
  </div>
  <div class="row">
    <p>Ask your coach anything:</p>
  </div>
   <div class="row">
  <form action="/answer" data-turbo="false">
    <input type="text" name="answer">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
  </div>
</div>
